.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.title {
  width: 100px;
}

.ReadPage .title {
  width: 100px;
}

.PassModal .title {
  width: 100px;
}

.bold {
  font-weight: 800;
}